@mixin cover($width: 100%, $height: 100%) {
    position: absolute;
    top: 0;
    left: 0;
    width: $width;
    height: $height;
}

@mixin center-self($top: 50%, $left: 50%) {
    @include transform(translate(-50%, -50%));

    position: absolute;
    top: $top;
    left: $left;
}

@mixin text-size-adjust($value: none) {
    // scss-lint:disable VendorPrefix
    -webkit-text-size-adjust: $value;
    -moz-text-size-adjust: $value;
    -ms-text-size-adjust: $value;
    // scss-lint:enable VendorPrefix
}

@function rem($size-in-pixels) {
    @return #{$size-in-pixels / $body-font-size}rem;
}

@function theme-name($name) {
    @return 'jw-theme-#{$name}';
}
