<ion-view>
  <jw-header class="jw-subheader">
    <jw-header-left>
      <jw-header-back-button></jw-header-back-button>
    </jw-header-left>
    <jw-header-main>
      <jw-header-title>{{ vm.feed.title }}</jw-header-title>
    </jw-header-main>
  </jw-header>

  <ion-content class="has-subheader">

    <h3 class="jw-meta-noContent" ng-if="!vm.feed.playlist.length">No videos to display</h3>

    <jw-card-grid feed="vm.feed" on-card-click="vm.cardClickHandler" spacing="12"
        cols="{xs:2, sm:2, md:3, lg:4, xl:5}"></jw-card-grid>

    <jw-footer></jw-footer>

  </ion-content>
</ion-view>