
.jw-theme-dark {

    .pane,
    .view {
        background-color: $dark-color;
    }

    .featured {
        background-color: $featured-slider-bg-color;
    }

    .jw-card .jw-card-title {
        color: $white;
    }

    .jw-card-slider.jw-card-slider--default {
        border-bottom: 1px solid $black;
    }

    .jw-card-slider .jw-card-slider-button {
        color: $white;
    }

    .jw-card-slider-title .jw-link,
    .jw-card-slider-title > div,
    .jw-card-grid-title {
        color: $white;
    }

    .jw-card.jw-card--default {

        .jw-card-info {
            background-color: $dark-color;
        }

        .jw-card-title,
        .jw-card-description {
            color: $white;
        }
    }

    .jw-footer {
        color: $white;
    }
}
