
.jw-theme-dark {

    .pane,
    .view {
        background-color: $dark-color;
    }

    .jw-card .jw-card-title {
        color: $white;
    }

    .jw-card-slider.jw-card-slider--default {
        border-bottom: 1px solid darken($dark-color, 5%);
    }

    .jw-card-slider .jw-card-slider-button {
        color: $white;
    }

    .jw-card-slider-title .jw-link,
    .jw-card-slider-title > div,
    .jw-card-grid-title {
        color: $white;
    }

    .jw-card.jw-card--default {

        .jw-card-info {
            background-color: $black;
        }

        .jw-card-title,
        .jw-card-description {
            color: $white;
        }
    }

    .jw-footer {
        color: $white;
    }
}
