
.jw-theme-light {

    background-color: $white-darker;

    .jw-header {
        background-color: $white;
    }

    .jw-theme-background {
        background-color: $white;
    }

    .jw-card-slider {

        .jw-card-slider-title {
            color: $pickled-bluewood;
        }

        &.jw-card-slider--default {
            border-bottom: 1px solid $cadet-blue;
        }

        &.jw-card-slider--default.jw-card-slider-button {
            color: $black;
        }

        &.jw-card-slider--featured .jw-card-slider-button {
            color: $white;
        }
    }

    .jw-card.jw-card--default {

        &.is-visible:not(.jw-card--touch):hover {
            .jw-card-info {
                background-color: $black;
            }

            .jw-card-title,
            .jw-card-description {
                color: $white-off;
            }
        }

        .jw-card-info {
            background-color: $white;
        }

        .jw-card-title,
        .jw-card-description {
            color: $black;
        }
    }

    .jw-card-alt {
        color: $gray-darker;
    }
}
