
.jw-theme-light {

    .pane,
    .view {
        background-color: $light-color;
    }

    .jw-card-slider-title .jw-link,
    .jw-card-slider-title > div,
    .jw-card-grid-title {
        color: $main-color;
    }

    .jw-card-slider {

        &.jw-card-slider--default {
            border-bottom: 1px solid rgba($main-color, 0.2);
        }

        &.jw-card-slider--default.jw-card-slider-button {
            color: $black;
        }
    }

    .jw-card.jw-card--default {

        .jw-card-info {
            background-color: $white;
        }

        .jw-card-title,
        .jw-card-description {
            color: $card-text-color;
        }
    }
}
