<jw-header></jw-header>

<div class="jw-row is-hidden-mobile" ng-if="vm.dataStore.featuredFeed">
  <jw-card-slider feed="vm.dataStore.featuredFeed" header="false" spacing="0" featured="true"
      max-width="'80%'" max-height="'50%'" visible-items="1" on-card-click="vm.onCardClickHandler"></jw-card-slider>
</div>

<div class="jw-row jw-theme-background is-visible-mobile" ng-repeat="item in vm.dataStore.featuredFeed.playlist">
  <jw-card class="is-active" item="item" featured="true" show-title="true" show-description="false" visible-items="1"
      on-click="vm.onCardClickHandler"></jw-card>
  <div class="jw-card-alt">
    <span jw-truncate-text="::item.description"></span>
  </div>
</div>

<div class="jw-row" ng-show="vm.dataStore.watchProgressFeed.playlist.length > 0">
  <jw-card-slider feed="vm.dataStore.watchProgressFeed" featured="false" header="'Continue watching'"
      visible-items="[2,2,3,4,5]" on-card-click="vm.onCardClickHandler" spacing="12"
      watch-progress="true"></jw-card-slider>
</div>

<div class="jw-row" ng-repeat="feed in vm.dataStore.feeds">
  <jw-card-slider feed="feed" featured="false" header="feed.title" visible-items="[2,2,3,4,5]"
      on-card-click="vm.onCardClickHandler" spacing="12"></jw-card-slider>
</div>

<div class="jw-row" ng-show="vm.dataStore.watchlistFeed.playlist.length > 0">
  <jw-card-slider feed="vm.dataStore.watchlistFeed" featured="false" header="'My watchlist'" visible-items="[2,2,3,4,5]"
      on-card-click="vm.onCardClickHandler" spacing="12"></jw-card-slider>
</div>

<jw-footer></jw-footer>