//
// Compass imports
// --------------------------------
@import 'compass/css3/animation';
@import 'compass/css3/images';
@import 'compass/css3/box-shadow';
@import 'compass/css3/box-sizing';
@import 'compass/css3/flexbox';
@import 'compass/css3/transform';
@import 'compass/css3/transition';
@import 'compass/css3/user-interface';

//
// Colors
// --------------------------------

$main-color: #2b3b57 !default;
$text-color: #363636 !default;
$primary-color: #f42957 !default;
$light-color: #eee !default;
$dark-color: #363636 !default;
$disabled-color: #d7dce5 !default;

$success-color: #393;

$black: #000;
$white: #fff;
$gray: #999;

$facebook: #3b5998;
$twitter: #55acee;

//
// Base
// --------------------------------

$text-color-base: #363636 !default;
$font-family-base: Helvetica Neue, Helvetica, Arial, sans-serif !default;
$font-size-base: 16px !default;

//
// Responsive
// --------------------------------

$mobile-max-width: 640px !default;
$tablet-max-width: 960px !default;

$tablet-min-width: $mobile-max-width + 1 !default;
$desktop-min-width: $tablet-max-width + 1 !default;

//
// Header
// --------------------------------

$header-height: 90px !default;
$header-nav-width: 120px !default;
$header-bg-color: #fff !default;

$subheader-height: 50px !default;
$subheader-bg-color: #292929 !default;
$subheader-nav-width: 80px !default;

$header-search-border-color: #cbced5 !default;
$header-search-height: 50px !default;

//
// Card
// --------------------------------

$card-text-color: #4a4a4a !default;

//
// Card toasts
// --------------------------------

$card-toast-removed-bg-color: $primary-color !default;
$card-toast-added-bg-color: $success-color !default;

//
// Card slider
// --------------------------------

$featured-slider-bg-color: #111 !default;

//
// Meta
// --------------------------------

$meta-description-bg-color: #444 !default;

//
// Z-index
// --------------------------------

$view-z-index: 1000;
$loading-z-index: $view-z-index + 1000;

//
// Ionic overrides
// --------------------------------

$bar-height: $header-height;
$bar-subheader-height: $subheader-height;
$link-color: #fff;

$toggle-width: 35px;
$toggle-height: 20px;
$toggle-hit-area-expansion: 20px;

$popover-backdrop-bg-active: rgba($black, 0.3);
$popover-border-radius: 0;
$popover-border-radius-ios: 0;
$item-padding: 10px;

$item-border-width: 0;
$item-divider-bg: transparent;
$item-divider-padding: 2px;

$popover-bg-color-android: #fff;
$button-height: 40px;
$popup-background-color: #fff;
$popup-border-radius: 0;
$popup-button-line-height: 40px;
$popup-button-border-radius: 0;
$popup-button-min-height: 40px;

$positive: $primary-color;
