//
// Compass imports
// --------------------------------
@import 'compass/css3/animation';
@import 'compass/css3/images';
@import 'compass/css3/box-shadow';
@import 'compass/css3/box-sizing';
@import 'compass/css3/flexbox';
@import 'compass/css3/transform';
@import 'compass/css3/transition';
@import 'compass/css3/user-interface';

//
// Fonts
// --------------------------------

$font-family-helvetica: Helvetica Neue, Helvetica, Arial, sans-serif !default;

//
// Colors
// --------------------------------

$black: #000;
$black-lighter: #111;
$black-light: #292929;

$white: #fff;
$white-off: #f5f5f5;
$white-darker: #d8dce5;

$gray: #999;
$gray-lighter: #a8a8a8;
$gray-darker: #444;

// theme colors
$mine-shaft: #292929;
$shark: #191a1c;

$geyser: #d9dde6;
$cadet-blue: #a9b3c7;
$fiord: #46536e;
$pickled-bluewood: #2d3d56;

$bazaar: #9e6d7c;
$radical-red: #ff2957;
$torch-red: #ff0045;

//
// Base
// --------------------------------

$text-color-base: $white-darker !default;
$font-family-base: $font-family-helvetica !default;

//
// Responsive
// --------------------------------

$mobile-max-width: 640px !default;
$tablet-max-width: 960px !default;

$tablet-min-width: $mobile-max-width + 1 !default;
$desktop-min-width: $tablet-max-width + 1 !default;

//
// Z-index
// --------------------------------

$view-z-index: 1000;
$loading-z-index: $view-z-index + 1000;
