
$header-bg-color: #000;
$header-color: #fff;

//
// Import Base
// --------------------------------
@import '../../bower_components/jw-showcase-lib/scss/main';

.no-js .jw-loading {
    display: none;
}

.jw-sidebar {

    background: $header-bg-color;

    .jw-sidebar-content .jw-button,
    .jw-sidebar-content .jw-sidebar-label {
        color: $header-color;
    }
}

.jw-search-input {
    color: $white;
}
