//
// Import base first since it contains all variables and Compass dependencies
// --------------------------------
@import 'base';

//
// Import mixins
// --------------------------------
@import 'mixins/responsive';
@import 'mixins/utils';

//
// Import components
// --------------------------------
@import 'components/jwButtons';
@import 'components/jwCard';
@import 'components/jwCardPoster';
@import 'components/jwCardSlider';
@import 'components/jwCover';
@import 'components/jwFooter';
@import 'components/jwHeader';
@import 'components/jwIcons';
@import 'components/jwJumbotron';
@import 'components/jwLoading';
@import 'components/jwMeta';
@import 'components/jwModal';
@import 'components/jwPlayer';
@import 'components/jwView';

//
// Import themes
// --------------------------------
@import 'themes/light';
@import 'themes/dark';

html,
body {
    height: 100%;
    min-height: 100%;
}

body {
    @include user-select(none);

    min-width: 320px;
    margin: 0 0 20px;
    padding: 0;

    font-family: $font-family-base;

    -webkit-font-smoothing: antialiased;

    overflow: hidden;

    img {
        border: 0;
    }

    * {
        @include box-sizing(border-box);
    }
}
