<div class="jw-cover jw-modal ng-cloak">
    <div class="jw-modal-container">
        <div class="jw-modal-image">
            <img class="jw-header-logo" ng-src="{{ ::vm.config.assets.banner }}" alt="logo"/>
        </div>
        <div class="jw-modal-message jw-modal-message-title">
            Some of the features used by {{ ::vm.config.siteName }} aren't support by your current browser.
        </div>
        <div class="jw-modal-message jw-modal-message-small">
            Update your current browser, or install one of the other compatible browsers to fully enjoy the {{ ::vm.config.siteName }} experience.
        </div>
        <div class="jw-modal-row">
            <jw-button class="jw-button-primary jw-button-center-self" href="http://outdatedbrowser.com/" target="_blank">
                <span class="jw-button-label">Update my browser now</span>
            </jw-button>
        </div>
    </div>
</div>
