//
// jwCardGrid
// --------------------------------

.jw-card-grid {
    position: relative;

    &-align {
        margin: 0 90px #{-$base-spacing};

    }

    &-cards {
        margin-right: -$base-spacing / 2;
        margin-left: -$base-spacing / 2;

        @for $i from 1 through 10 {
            $perc: 100% / $i;

            &.jw-card-grid-#{$i} > .jw-card {
                width: calc(#{$perc} - #{$base-spacing});
                margin: 0 #{$base-spacing / 2} $base-spacing;
            }
        }
    }

    &-control {
        padding-top: $base-spacing;
        text-align: center;
    }

    .jw-card {
        display: inline-block;
        margin-bottom: $base-spacing;
    }

    .jw-feed-title {
        margin: 0 90px $base-spacing;
    }
}

//
// mediaQueries
// --------------------------------

@include mobile-only() {

    .jw-card-grid {

        &-align {
            margin: 0 $base-spacing #{-$base-spacing};
        }

        &-cards {
            @for $i from 1 through 10 {
                $perc: 100% / $i;

                &.jw-card-grid-#{$i} > .jw-card {
                    width: calc(#{$perc} - #{$base-spacing});
                    margin: 0 #{$base-spacing / 2} #{$base-spacing};
                }
            }
        }

        .jw-feed-title {
            margin: 0 $base-spacing $base-spacing-heading;
        }
    }
}
