//
// jwCardPoster
// --------------------------------

.jw-card-poster {
    @include single-transition(opacity, 0.5s, ease, 0s);
    @include cover();

    opacity: 0;

    &.is-active {
        opacity: 1;
    }

    &.is-loading {
        background-color: $gray;
    }
}
