//
// jwButton
// --------------------------------

.jw-button {
    display: inline-block;
    position: relative;

    color: $white;
    line-height: 1;
    text-decoration: none;
}

//
// jwButtonPlay
// --------------------------------

.jw-button-play {
    width: 3em;
    height: 3em;

    border: 0.2em solid $white;
    border-radius: 50%;
    cursor: pointer;

    .jwy-icon-play {
        @include center-self(50%, 54%);

        color: $radical-red;
        font-size: 1.4em;
    }
}

//
// jwButtonBack
// --------------------------------

.jw-button-back {

    .jwy-icon-double-angle-left {
        font-size: 2.2em;
    }
}

//
// jwButtonShare
// --------------------------------

.jw-button-share {
    padding: 10px;

    border-radius: 50%;
    background: $mine-shaft;
}
