//
// jwButton
// --------------------------------

.jw-button {
    display: inline-block;
    position: relative;

    color: $white;
    line-height: 1;
    text-decoration: none;
    cursor: pointer;
}

.jw-button-default {
    padding: 5px 20px;

    border-radius: 5px;
    background: $radical-red;
    color: $white;
    font-weight: bold;
}

.jw-button-transparent {
    padding: 5px 20px;

    background: transparent;
    color: $black;
    font-weight: bold;
}

//
// jwButtonPlay
// --------------------------------

.jw-button-play {
    width: 3em;
    height: 3em;

    border: 0.2em solid $white;
    border-radius: 50%;

    .jwy-icon-play {
        @include center-self(50%, 54%);

        color: $radical-red;
        font-size: 1.4em;
    }
}

//
// jwButtonBack
// --------------------------------

.jw-button-back {

    .jwy-icon-double-angle-left {
        font-size: 2.2em;
    }
}

//
// jwButtonShare
// --------------------------------

.jw-button-share {
    padding: 12px;

    border-radius: 50%;
    background: $mine-shaft;
}

.jw-button-share > .jwy-icon {
    font-size: 26px;
}

//
// jwButtonWatchlist
// --------------------------------

%jw-watchlist-white {
    .jwy-icon-stack {
        color: $white;

        .jwy-icon {
            color: $black;
        }
    }
}

%jw-watchlist-dark {
    .jwy-icon-stack {
        color: $radical-red;

        .jwy-icon {
            color: $white;
        }
    }
}

.jw-button-watchlist {

    vertical-align: middle;

    > span {
        @include single-transition(opacity, .1s, ease);
        display: inline-block;

        text-align: right;
        opacity: 0.65;
        vertical-align: middle;
    }

    .jwy-icon-stack {
        vertical-align: middle;
    }

    .jwy-icon {
        @include transition(color .1s ease, transform .1s linear);
        margin-top: -1px;
        font-size: 29px;
    }

    &:hover > span {
        opacity: 1;
    }

    &:not(.is-active) {
        @extend %jw-watchlist-white;

        &:hover .jwy-icon-stack .jwy-icon {
            color: $radical-red;
        }
    }

    &.is-active {
        @extend %jw-watchlist-dark;

        &:hover {
            .jwy-icon-stack .jwy-icon:first-child {
                transform: rotate(45deg);
            }

            .jwy-icon-stack .jwy-icon:last-child {
                transform: rotate(-45deg);
            }
        }
    }
}
