//
// jwButton
// --------------------------------

.jw-button {
    display: inline-block;
    position: relative;

    min-height: 40px;
    padding: 0 10px;

    color: $white;

    line-height: 40px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    overflow: hidden;

    &.jw-icon-button {
        min-width: 40px;
    }

    &.jw-button-block {
        display: block;
        width: 100%;
        white-space: nowrap;
    }

    .jw-button-label {
        display: inline-block;
        font-size: rem(14px);
        vertical-align: middle;
    }

    .jwy-icon {
        position: relative;
        top: 1px;
        vertical-align: middle;
    }
}

.jw-button-primary,
.jw-button-primary.activated {
    background: $primary-color;
    color: $white;
    font-weight: bold;

    &:hover {
        color: $white;
    }
}

.jw-button-hollow,
.jw-button-hollow.activated {
    border: 1px solid lighten($main-color, 60%);
    background: transparent;
    color: $primary-color;
    font-weight: bold;

    &:hover {
        color: $primary-color;
    }
}

.jw-button-light,
.jw-button-light.activated {
    background: $light-color;
    color: $text-color;

    &:hover {
        color: $text-color;
    }
}

.jw-button-clear,
.jw-button-clear.activated {
    color: $text-color;

    &:hover {
        color: $text-color;
    }
}

.jw-button-dark,
.jw-button-dark.activated {
    background: $dark-color;
    color: $white;
    font-weight: bold;

    &:hover {
        color: $white;
    }
}

.jw-button-facebook,
.jw-button-twitter,
.jw-button-mail {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    font-size: 22px;
    line-height: 1.8em;
}

.jw-button-facebook {
    background-color: $facebook;
}

.jw-button-twitter {
    background-color: $twitter;
}

.jw-button-mail {
    background-color: $dark-color;
}

//
// jwButtonPlay
// --------------------------------

.jw-button-play {
    width: 3em;
    height: 3em;

    border: 0.2em solid $white;
    border-radius: 50%;

    .jwy-icon-play {
        @include center-self(50%, 54%);

        color: $primary-color;
        font-size: 1.4em;
    }
}

//
// jwButtonWatchlist
// --------------------------------

%jw-watchlist-white {
    .jwy-icon-stack {
        color: $white;

        .jwy-icon {
            color: $main-color;
        }
    }
}

%jw-watchlist-dark {
    .jwy-icon-stack {
        color: $primary-color;

        .jwy-icon {
            color: $white;
        }
    }
}

.jw-button-watchlist {

    &:not(.is-active) {
        @extend %jw-watchlist-white;

        &:hover .jwy-icon-stack .jwy-icon {
            color: $primary-color;
        }
    }

    &.is-active {
        @extend %jw-watchlist-dark;
    }

    .jwy-icon {
        @include transition(color .1s ease);
        font-size: rem(32px);
    }
}

.jw-button-share {

    &:hover .jwy-icon-stack .jwy-icon {
        color: $primary-color;
    }

    .jwy-icon-stack .jwy-icon {
        @include transition(color .1s ease);
        color: $main-color;
    }

    .jwy-icon {
        font-size: rem(32px);
    }
}

//
// jwButtonEffect
// --------------------------------

.jw-button-effect {
    display: block;
    position: absolute;
    width: 40px;
    height: 40px;
    margin-top: -20px;
    margin-left: -20px;

    border-radius: 50%;
    background-color: rgba($main-color, 0.1);
    opacity: 0;
    z-index: 99999;
    pointer-events: none;

    &.active {
        animation: button-click-feedback 0.4s forwards;
    }
}

//
// jwButton effect keyframes
// --------------------------------

@keyframes button-click-feedback {
    0% {
        transform: scale3d(0.3, 0.3, 1);
    }

    40%, 60% {
        opacity: 1;
    }

    100% {
        transform: scale3d(1.5, 1.5, 1);
        opacity: 0;
    }
}
