$default-slider-spacing: 12px;
$featured-slider-max-width: 900px;

//
// jwCardSlider
// --------------------------------

.jw-card-slider {
    position: relative;
    overflow: hidden;

    &.is-sliding {

        .jw-card-slider-container .jw-card-slider-list,
        .jw-card.jw-card--default,
        .jw-card-play-button,
        .jw-card-poster {
            @include single-transition(none, 0s !important);
        }
    }

    //
    // jwCardSliderContainer
    // --------------------------------

    .jw-card-slider-container {
        position: relative;
    }

    //
    // jwCardSliderTitle
    // --------------------------------

    .jw-card-slider-title {
        display: inline-block;
        margin: 20px 90px;

        font-size: 21px;
        font-weight: bold;

        > .jw-link {
            text-decoration: none;
            cursor: pointer;

            &:hover {
                color: $primary-color;
            }

            > span,
            > .jwy-icon {
                vertical-align: middle;
            }
        }

        .jw-card-slider-title-count {
            font-size: rem(18px);
            font-weight: normal;
        }
    }

    //
    // jwCardSliderAlign
    // --------------------------------

    .jw-card-slider-align {
        padding: 0 90px;
    }

    //
    // jwCardSliderList
    // --------------------------------

    .jw-card-slider-list {
        position: relative;
        margin: 0;
        padding: 0;
        list-style: none;
        white-space: nowrap;

        .jw-card-slider-slide:not(.is-visible) {
            pointer-events: none !important;
        }

        .jw-card-slider-slide.is-poster-visible .jw-card-poster {
            @include single-transition(opacity, 0.5s, ease, 0.3s);
            opacity: 1;
        }

        .jw-card-slider-slide:not(.is-poster-visible) .jw-card-poster {
            background-image: none !important;
            opacity: 0;
        }

        .jw-card-slider-slide {
            display: inline-block;
            position: relative;
            white-space: normal;
            vertical-align: top;
        }
    }

    //
    // jwCardSliderButton
    // --------------------------------

    .jw-card-slider-button {
        @include single-transition(color, 0.2s, ease, 0s);
        @include transform(translateY(-50%));

        display: block;
        position: absolute;
        top: 50%;

        color: $main-color;
        cursor: pointer;

        &.jw-card-slider-button--left {
            left: 10px;
        }

        &.jw-card-slider-button--right {
            right: 10px;
        }

        &:hover:not(.is-disabled) .jwy-icon {
            color: $primary-color;
        }

        &.is-disabled {
            cursor: default;
            opacity: 0.3;
        }

        .jwy-icon {
            font-size: 2em;
        }
    }

    //
    // jwCardSliderIndicators
    // --------------------------------

    .jw-card-slider-indicators {
        @include transform(translateX(-50%));

        display: none;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin: 0;
        padding: 20px;
        list-style: none;

        &.is-visible {
            display: block;
        }
    }

    //
    // jwCardSliderIndicator
    // --------------------------------

    .jw-card-slider-indicator {
        display: inline-block;
        width: 10px;
        height: 10px;
        margin: 0 4px;

        border-radius: 50%;
        background-color: $gray;
        cursor: pointer;

        &:hover {
            background-color: $white;
        }

        &.is-active {
            background-color: $primary-color;
        }
    }
}

//
// jwCardSlider--featured
// --------------------------------

.jw-card-slider.jw-card-slider--featured {
    background-color: $featured-slider-bg-color;

    .jw-card-slider-button.jw-card-slider-button--right {
        margin-left: 40px;
    }

    .jw-card-slider-button {
        color: $white;
    }

    .jw-card-slider-button .jwy-icon {
        font-size: 3em;
    }

    .jw-card-slider-align {
        max-width: $featured-slider-max-width;
        margin: 0 auto;
    }

    .jw-card-slider-list {
        @for $i from 1 through 10 {
            &.slides-#{$i} .jw-card-slider-slide {
                width: 100% / $i;
            }
        }
    }

    .jw-card-slider-slide {

        &:not(.is-visible) {
            .jw-card-container {
                background: rgba($black, 0.5);
            }

            .jw-card-menu-button {
                display: none;
            }
        }

        &.is-visible {
            .jw-card-info {
                opacity: 1;
            }
        }
    }

    .jw-card-info {
        @include single-transition(opacity, 0.3s, ease, 0s);
        opacity: 0;

        .jw-card-cell {
            padding-bottom: 45px;
        }
    }
}

//
// jwCardSlider--default
// --------------------------------

.jw-card-slider.jw-card-slider--default {

    .jw-card-title {
        visibility: hidden;
    }

    .jw-card-slider-align {
        padding: 0 #{90px - $default-slider-spacing / 2} 20px;
    }

    .jw-card-slider-list {
        @for $i from 1 through 10 {
            &.slides-#{$i} .jw-card-slider-slide {
                width: calc(#{100% / $i} - #{$default-slider-spacing});
            }
        }
    }

    .jw-card-slider-slide {
        @include single-transition(opacity, 0.2s, ease-in, 0s);
        margin: 0 $default-slider-spacing / 2;
        opacity: 0.15;

        &.is-visible {
            opacity: 1;
        }

        &.is-visible .jw-card-title {
            visibility: visible;
        }

        &.ng-enter,
        &.ng-leave,
        &.ng-leave-active,
        &.ng-enter-active {
            @include transition(none !important);
        }
    }
}

//
// mediaQueries
// --------------------------------

@include mobile-only() {

    .jw-card-slider .jw-card-slider-container {

        .jw-card-slider-title {
            margin: 20px;
        }

        .jw-card-slider-align {
            padding: 0 60px 0 20px;
        }
    }
}

@include tablet-only () {

    .jw-card-slider.jw-card-slider--featured {

        .jw-card-slider-indicators {
            padding: 0 13px 16px 0;
        }

        .jw-card-slider-indicator {
            width: 8px;
            height: 8px;
        }
    }
}
