//
// jwCollapsibleText
// --------------------------------

.jw-collapsible-text {

    &.expanded {

        .jw-collapsible-text-content::after {
            display: none;
        }

        .jw-collapsible-text-toggle .jw-button {
            @include transform(rotate(90deg));
        }
    }

    &.inactive {
        .jw-collapsible-text-content::after,
        .jw-collapsible-text-toggle {
            display: none;
        }
    }

    .jw-collapsible-text-content {
        @include transition(max-height 0.3s ease 0s);

        position: relative;
        overflow: hidden;

        &::after {
            position: absolute;
            right: 0;
            bottom: 0;
            left: 0;
            height: 1.4em;

            content: '';
        }
    }

    .jw-collapsible-text-toggle {
        text-align: center;

        .jw-button {
            @include transition(transform 0.3s ease 0s);
            @include transform(rotate(-90deg));
        }
    }
}
