//
// jwCard
// --------------------------------

.jw-card {
    position: relative;

    font-size: rem(15px);

    &:not(.jw-card--touch):not(.jw-card-menu-open) {

        &.is-active,
        &:hover {
            .jw-card-controls {
                opacity: 1;
            }
        }
    }

    &.jw-card-menu-open {
        .jw-card-watchlist-button {
            display: none;
        }
    }

    .jw-button-watchlist {
        position: absolute;
        top: -12px;
        left: 10px;

        &:hover {
            @include transform(scale(1.2));
        }

        .jwy-icon {
            font-size: rem(26px);
        }
    }

    .jw-card-aspect {
        position: relative;
        padding-bottom: (9 / 16) * 100%;
    }

    .jw-card-poster-container {
        @include cover();

        .jw-card-poster {
            width: 100%;
            height: 100%;
        }
    }

    .jw-card-container {
        @include cover();
        @include single-transition(background, 0.2s, ease, 0s);
        background: rgba($black, 0.1);
        cursor: pointer;
    }

    .jw-card-table {
        display: table;
        width: calc(100% + 1px);
        height: calc(100% + 1px);

        table-layout: fixed;
    }

    .jw-card-row {
        display: table-row;
    }

    .jw-card-cell {
        display: table-cell;
    }

    .jw-card-info {
        color: $white;
    }

    .jw-card-controls {
        @include single-transition(opacity, 0.2s, ease, 0s);
        opacity: 0;

        .jw-card-cell {
            position: relative;
            height: 100%;

            text-align: center;
            vertical-align: middle;
        }
    }

    .jw-card-duration {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 5px;

        color: $white;
        font-size: rem(14px);
    }

    .jw-card-title {
        padding: 10px;

        font-weight: bold;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    .jw-card-description {
        padding: 0 10px;

        font-size: rem(14px);
        line-height: rem(16px);
        overflow: hidden;
    }

    .jw-card-play-button {
        @include single-transition(opacity, 0.05s, ease-out, 0s);
        opacity: 0.5;

        &:hover {
            opacity: 1;
        }
    }

    .jw-card-menu-button {
        position: absolute;
        top: 0;
        right: 0;

        width: 35px;
        height: 35px;

        font-size: rem(16px);
        line-height: 2;
        text-align: center;
        cursor: pointer;

        &:hover .jwy-icon {
            color: $primary-color;
        }

        .jwy-icon {
            vertical-align: middle;
        }
    }

    .jw-card-toast-container {
        &.ng-enter,
        &.ng-leave {
            @include single-transition(opacity, 0.2s, ease);
        }

        &.ng-enter {
            opacity: 0;
        }

        &.ng-enter-active {
            opacity: 1;
        }

        &.ng-leave {
            opacity: 1;
        }

        &.ng-leave-active {
            opacity: 0;
        }
    }

    .jw-card-toast {
        @include cover();

        &.jw-card-toast--removed {
            background: $card-toast-removed-bg-color;
            color: $white;

            .jwy-icon-stack > .jwy-icon {
                opacity: 0.45;
            }
        }

        &.jw-card-toast--added {
            background: $card-toast-added-bg-color;
            color: $white;
        }

        .jw-card-toast-container {
            @include transform(translateY(-50%));

            position: absolute;
            top: 50%;
            width: 100%;

            font-size: rem(16px);
            text-align: center;

            .jw-card-toast-icon {
                margin-bottom: 10px;
                font-size: 3em;
            }
        }
    }
}

//
// jwCard--default
// --------------------------------

.jw-card.jw-card--default {
    padding-bottom: 39px;

    &:not(.jw-card--touch):not(.is-compact) {

        &.jw-card-menu-open,
        &:hover {


            .jw-card-container {
                background-color: rgba($black, 0.6);
            }

            .jw-card-info .jw-card-info-mask {
                height: 100px;
            }
        }
    }

    .jw-card-info-mask {
        @include transition(height 0.2s ease);
        height: 39px;
        overflow: hidden;
    }

    .jw-card-info {
        .jw-card-cell {
            height: 39px;
        }
    }

    .jw-card-description {
        max-height: 3 * 16px;
    }

    .jw-card-watch-progress-container {
        position: relative;
    }

    .jw-card-watch-progress {
        position: absolute;
        top: -4px;
        right: 0;
        left: 0;
        height: 4px;

        .jw-card-watch-progress-indicator {
            position: absolute;
            top: 0;
            left: 0;
            width: 0;
            height: 4px;

            background: $primary-color;
        }
    }

}

//
// jwCard--featured
// --------------------------------

.jw-card.jw-card--featured {
    font-size: 32px;

    &:not(.jw-card--touch) {
        &.is-active .jw-card-container,
        .jw-card-container:hover {
            background-color: rgba($black, 0.4);
        }
    }

    .jw-card-duration {
        display: none;
    }

    .jw-card-info {
        .jw-card-cell {
            padding-bottom: 10px;
        }
    }

    .jw-card-title {
        padding: 0 50px 20px;
        line-height: 1em;
    }

    .jw-card-description {
        max-height: 6 * 18px;
        padding: 0 150px 0 50px;
        line-height: 18px;
    }

    .jw-card-container {
        @include background-image(linear-gradient(rgba($black, 0) 50%, rgba($black, 0.9) 95%));
    }

    .jw-button-watchlist {
        display: none;
    }
}

//
// mediaQueries
// --------------------------------

@include mobile-only () {

    .jw-card.jw-card--featured .jw-card-title {
        margin-bottom: 10px;
        padding: 0 20px;
    }

    .jw-card.jw-card--featured .jw-card-description {
        max-height: 3 * 18px;
        padding: 0 20px;
    }

    .jw-card.jw-card--default .jw-card-toast .jw-card-toast-container {
        font-size: rem(12px);
    }
}

@include mobile-and-tablet () {

    .jw-card.jw-card--featured {
        font-size: 21px;
    }
}

@include tablet-only () {

    .jw-card.jw-card--featured {

        .jw-card-title {
            padding: 0 30px 10px;
        }

        .jw-card-description {
            max-height: 3 * 18px;
            padding: 0 30px;
        }
    }
}
