//
// jwCookiesPopover
// --------------------------------
.jw-cookies-popover.popover {

    &.cookies-animation {
        @include transform(translateY(-20%));
        opacity: 0;
    }

    &.cookies-animation.ng-enter,
    &.cookies-animation > .ng-enter {
        @include transition(all 0.3s ease-in-out);
    }

    &.cookies-animation.ng-enter-active,
    &.cookies-animation > .ng-enter-active {
        @include transform(translateY(0%));
        opacity: 1;
    }

    &.cookies-animation.ng-leave,
    &.cookies-animation > .ng-leave {
        @include transition(all 0.3s ease-in-out);
    }

    .jw-cookies {
        @include display-flex();
        max-width: 800px;
        margin: 0 auto;
        padding: 40px;
    }

    .jw-cookies-title {
        @include flex(0 0 200px);
        font-size: rem(32px);
        line-height: rem(32px);
        padding-right: 30px;
    }

    .jw-cookies-explanation {
        @include flex(1 1 auto);
    }
}

//
// mediaQueries
// --------------------------------

@include mobile-only () {

    .jw-cookies-popover.popover {

        .jw-cookies {
            @include flex-direction(column);
            padding: 20px;
        }

        .jw-cookies-title {
            @include flex(1 1 auto);
            margin-bottom: 20px;
        }

        .jw-cookies-button-bar {
            text-align: center;
        }
    }
}
