//
// jwCardGrid
// --------------------------------

.jw-card-grid {
    position: relative;
    margin: 0 90px;

    .jw-card {
        display: inline-block;
        margin-bottom: 12px;
    }
}

//
// jwCardGridTitle
// --------------------------------

.jw-card-grid-title {
    margin: 20px 0;

    font-size: 21px;
    font-weight: bold;
    cursor: default;
}

//
// mediaQueries
// --------------------------------

@include mobile-only() {

    .jw-card-grid {
        margin: 0 20px;
    }
}
