
//
// jwDialog
// --------------------------------

.jw-dialog {

    .popup-head {
        display: none;
    }

    .popup-body {
        padding: 35px 15px 15px;
        text-align: center;
    }

    .popup-buttons {
        padding: 10px 50px 35px;
    }
}
