
//
// jwHeader
// --------------------------------

.jw-header {
    @include display-flex();
    @include flex-direction(row);
    position: fixed;
    width: 100vw;
    height: $header-height;
    padding: 10px 0;

    background-color: $header-bg-color;
    text-align: center;
    z-index: 9;

    &.jw-subheader {
        top: $header-height;
        height: $subheader-height;
        padding: 0;

        background-color: $subheader-bg-color;

        .jw-header-nav {
            @include flex(0 0 $subheader-nav-width);
            min-width: $subheader-nav-width;
        }

        .jw-header-nav .jw-button {
            color: $white;
        }

        .jw-header-title {
            padding: 5px 0;

            color: $white;
            font-size: rem(24px);
            font-weight: bold;
        }
    }

    &.jw-header-transparent {
        background-color: transparent;
        pointer-events: none;

        .jw-header-main {
            display: none;
        }

        .jw-header-nav {
            pointer-events: auto;

            .jw-button {
                color: $white;
            }
        }

        .jw-header-nav:last-child {
            display: none;
        }
    }

    &.jw-header-static {
        position: static;
        width: 100%;

        .jw-header-main .jw-header-title {
            white-space: normal;
            overflow: visible;
            word-break: break-all;
        }
    }

    .jw-header-nav {
        @include flex(0 0 $header-nav-width);
        @include align-self(center);
        min-width: $header-nav-width;
        font-size: rem(32px);

        &:first-child {
            padding-left: 10px;
            text-align: left;

        }

        &:last-child {
            padding-right: 10px;
            text-align: right;
        }

        .jw-button {
            color: $main-color;
            font-size: rem(25px);
            vertical-align: middle;

            &:hover {
                color: $primary-color;
            }
        }
    }

    .jw-header-main {
        @include flex(1 1 auto);
        @include align-self(center);

        .jw-header-logo {
            max-width: 100%;
            max-height: $header-height - 20px;
            vertical-align: middle;
        }

        .jw-header-title {
            line-height: 1em;
            white-space: nowrap;
            overflow: hidden;

            &.left {
                text-align: left;
            }
        }
    }

    .jw-header-search-bar {
        @include transition(all .5s ease);
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 100%;
        padding: 20px;

        background: $header-bg-color;
        opacity: 0;
        overflow: hidden;

        z-index: 1;
        pointer-events: none;

        &.is-active {
            width: 100%;
            opacity: 1;
            pointer-events: auto;
        }

        .jw-header-search-input {
            width: 100%;
            height: $header-search-height;
            padding: 0 30px;

            border-bottom: 1px solid $header-search-border-color;
            border-radius: 0;
            font-size: 16px;
        }

        .jw-header-search-input-cap {
            position: absolute;
            top: ($header-height - $header-search-height) / 2;
            width: 40px;
            height: $header-search-height;

            &:first-child {
                left: 10px;
            }

            &:last-child {
                right: 10px;
            }

            .jw-button {
                height: $header-search-height;
            }

            .jw-button:hover {
                color: $primary-color;
            }

            > .jw-button,
            > .jwy-icon {
                color: $main-color;
                line-height: $header-search-height;
            }
        }
    }
}

@include mobile-only () {
    .jw-header {

        .jw-header-logo h1 {
            font-size: rem(24px);
        }

        .jw-header-nav {
            @include flex(0 0 $subheader-nav-width);
            min-width: $subheader-nav-width;
        }

        .jw-header-nav .jw-button-label {
            display: none;
        }
    }
}
