$header-height: 80px;
$header-h-padding: 10px;
$header-nav-width: 90px;
$subheader-height: 50px;

//
// jwHeader
// --------------------------------

.jw-header {
    @include display-flex();
    @include flex-direction(row);
    position: fixed;
    width: 100vw;
    height: $header-height;
    padding: $header-h-padding 0;
    z-index: 9;

    background-color: $white;
    text-align: center;

    &.jw-subheader {
        top: $header-height;
        height: $subheader-height;
        padding: 0;

        background-color: $black-light;

        .jw-header-nav .jw-button {
            color: $white;
        }

        .jw-header-title {
            padding: 5px 0;
            font-size: rem(24px);
            font-weight: bold;
            color: $white;
        }
    }

    &.jw-header-transparent {
        background-color: transparent;
        pointer-events: none;

        .jw-header-main {
            display: none;
        }

        .jw-header-nav {
            pointer-events: auto;

            .jw-button {
                color: $white;
            }
        }

        .jw-header-nav:last-child {
            display: none;
        }
    }

    &.jw-header-static {
        position: static;
        width: 100%;

        .jw-header-main .jw-header-title {
            overflow: visible;
            white-space: normal;
            word-break: break-all;
        }
    }

    .jw-header-nav {
        @include flex(0 0 $header-nav-width);
        @include align-self(center);
        min-width: 70px;
        font-size: rem(32px);

        .jw-button {
            padding: 10px;

            vertical-align: middle;
            color: $black-lighter;
            font-size: rem(25px);
        }
    }

    .jw-header-main {
        @include flex(1 1 auto);
        @include align-self(center);

        .jw-header-logo {
            max-width: 100%;
            max-height: $header-height - ($header-h-padding * 2);
            vertical-align: middle;
        }

        .jw-header-title {
            line-height: 1em;
            overflow: hidden;
            white-space: nowrap;

            &.left {
                text-align: left;
            }
        }
    }

    .jw-header-search-bar {
        @include transition(all .5s ease);

        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 100%;
        background: white;
        padding: 20px;
        z-index: 1;
        opacity: 0;
        overflow: hidden;

        &.is-active {
            width: 100%;
            opacity: 1;
        }

        .jw-header-search-input {
            width: 100%;
            height: 100%;
            border: 1px solid #ccc;
            padding: 0 40px;
            border-radius: 4px;
        }

        .jw-header-search-input-cap {
            position: absolute;
            top: 20px;
            width: 40px;
            height: 40px;

            &:first-child {
                left: 20px;
            }

            &:last-child {
                right: 20px;
            }

            .jw-button {
                width: 40px;
                height: 40px;
                color: #505050;
            }

            > .jw-button,
            > .jwy-icon {
                line-height: 43px;
            }
        }
    }
}

@include mobile-only () {
    .jw-header .jw-header-logo h1 {
        font-size: rem(24px);
    }
}
