//
// jwJumbotron
// --------------------------------

.jw-jumbotron {
    position: relative;
    width: 100%;

    background-color: $shark;

    .jw-jumbotron-controls {
        position: absolute;
        top: 35px;
        left: 34px;

        z-index: $view-z-index + 5;
    }
}

//
// mediaQueries
// --------------------------------

@include mobile-only () {

    .jw-jumbotron .jw-jumbotron-controls {
        padding: 20px 0 0 20px;
    }
}

@include tablet-and-larger () {

    .jw-jumbotron {
        min-height: 70%;
    }

    .jw-jumbotron .jw-jumbotron-content {
        @include cover();
    }
}
