//
// jwLoading
// --------------------------------

.jw-loading {
    background-color: $white;
    z-index: $loading-z-index;

    &.ng-hide-add {
        @include transition(opacity 0.2s linear 0s, transform 0.2s ease-in 0s);
        @include transform(scale(1));
        opacity: 1;
    }

    &.ng-hide-add-active {
        @include transform(scale(1.5));
        opacity: 0;
    }

    .jw-loading-icon {
        @include center-self();

        .jw-loading-icon-animation {
            @include animation(rotate 2s linear infinite);
        }

        .jwy-icon-buffer {
            color: $primary-color;
            font-size: 5em;
        }
    }
}

// scss-lint:disable SelectorFormat
@include keyframes(rotate) {
    from {
        @include transform(rotate(0deg));
    }

    to {
        @include transform(rotate(360deg));
    }
}
// scss-lint:enable SelectorFormat
