//
// jwMeta
// --------------------------------

.jw-meta {
    position: relative;
    padding: 1.5em 20px;

    background-color: $gray-darker;
    color: $white;

    pointer-events: auto;

    .jw-row {
        position: relative;
    }

    .jw-meta-heading {
        display: inline-block;
        margin-bottom: 1.5em;
    }

    .jw-meta-title {
        display: inline-block;

        font-size: 28px;
        font-weight: bold;
        line-height: normal;
        white-space: normal;

        vertical-align: middle;
    }

    .jw-meta-duration {
        display: inline-block;
        margin-left: 10px;
        padding: 0 8px;

        background-color: $white;
        color: $black;
        font-size: 11px;

        line-height: 20px;
        vertical-align: middle;
    }

    .jw-meta-description {
        margin-bottom: 1.5em;

        line-height: 1.4em;
        white-space: normal;
    }

    .jw-meta-actions {

        .jw-button-share:not(:last-child) {
            margin-right: 8px;
            // visual alignment
            margin-left: -3px;
        }

        .jw-button-watchlist .jwy-icon-stack {
            font-size: 1.8em;
        }
    }
}

//
// mediaQueries
// --------------------------------

@include mobile-only () {

    .jw-meta .jw-meta-social {
        //text-align: center;
    }

    .jw-meta.ng-hide {
        display: block !important;
        opacity: 0;
    }
}

@include mobile-and-tablet() {

    .jw-meta {

        .jw-meta-social {
            display: inline-block;
        }

        .jw-meta-watchlist {
            float: right;
            line-height: 45px;
        }
    }

}

@include tablet-and-larger () {

    .jw-meta {
        width: 100%;
        padding: 36px 90px;
        background-color: $gray-darker;
    }
}

@include desktop-only () {

    .jw-meta {

        .jw-meta-description {
            display: inline-block;
            position: relative;
            width: calc(100% - 230px);
        }

        .jw-meta-watchlist {
            position: absolute;
            top: 0;
            right: 0;
        }

        .jw-button-watchlist > span > br {
            content: '';

            &:after {
                content: '';
            }
        }
    }
}
