//
// jwMenu
// --------------------------------

.jw-menu-popover.popover {
    height: 600px;
    max-height: 100vh;

    &.scale-out {
        @include transform-origin(46px, 42px);
        @include transform(scale(0));
    }

    &.scale-out.ng-enter {
        @include transition(transform ease-out 300ms);
    }

    &.scale-out.ng-enter-active {
        @include transform(scale(1));
    }

    .item-divider {
        min-height: 10px;
    }

    .popover-arrow {
        display: none;
    }

}

@include mobile-only () {
    .jw-menu-popover.popover {
        width: 90vw;
        height: 90vh;
    }
}