//
// jwMenu
// --------------------------------

.jw-menu-popover.popover {
    height: 600px;
    max-height: 100vh;

    &.menu-animation {
        @include transform(translateX(-20%));
        opacity: 0;
    }

    &.menu-animation.ng-enter,
    &.menu-animation > .ng-enter {
        @include transition(all 0.3s ease-in-out);
    }

    &.menu-animation.ng-enter-active,
    &.menu-animation > .ng-enter-active {
        @include transform(translateX(0%));
        opacity: 1;
    }

    &.menu-animation.ng-leave,
    &.menu-animation > .ng-leave {
        @include transition(all 0.3s ease-in-out);
    }

    .jw-header-nav .jw-button-label {
        display: none;
    }

    .jw-menu-list {
        margin: 0 5px 20px 55px;

        .jw-button {
            width: 100%;
            min-height: 30px;

            color: $main-color;
            line-height: 30px;
            text-align: left;

            &:hover {
                color: $primary-color;
            }
        }

        .divider {
            height: 20px;
        }
    }

    .item-toggle {
        color: $main-color;

        .toggle {
            top: 11px;
        }

        .track .handle {
            top: 3px;
            border: 1px solid $disabled-color;
        }

        input:checked + .track {
            background-color: $main-color;
        }

        input:checked + .track .handle {
            border-color: $white;
            background-color: $primary-color;
        }
    }

    .popover-arrow {
        display: none;
    }
}

@include mobile-only () {
    .jw-menu-popover.popover {
        width: 90vw;
        height: 90vh;
    }
}
