//
// jwMeta
// --------------------------------

.jw-meta-duration {
    display: inline-block;
    margin-left: 10px;
    padding: 0 8px;

    background-color: $white;
    color: $black;
    font-size: rem(11px);

    line-height: 20px;
    vertical-align: middle;
}

.jw-meta-description {
    padding: 1.5em 90px;

    background-color: $gray-darker;
    color: $white;
    line-height: 1.4em;
    white-space: normal;
}

//
// mediaQueries
// --------------------------------

@include mobile-only () {

    .jw-meta-description {
        padding: 1.5em 20px;
    }
}
