
//
// jwModal
// --------------------------------

.jw-modal {
    background-color: $light-color;
    background-size: cover;
    z-index: $view-z-index + 100;

    .jw-modal-container {
        @include transform(translate(-50%, -50%));
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80%;
    }

    .jw-modal-title,
    .jw-modal-message {
        color: $black;
        text-align: center;
    }

    .jw-modal-title {
        padding: 10px 20px;
        font-size: rem(28px);
        font-weight: bold;
    }

    .jw-modal-message {
        padding: 10px 20px;
    }
}
