//
// jwMeta
// --------------------------------

.jw-meta-duration {
    display: inline-block;
    margin-left: 10px;
    padding: 0 8px;

    background-color: $white;
    color: $black;
    font-size: rem(11px);

    line-height: 20px;
    vertical-align: middle;
}

.jw-meta-align {
    max-width: 800px;
    margin: 0 auto;
}

.jw-meta-description {
    padding: 1.5em $subheader-nav-width;

    background-color: $meta-description-bg-color;
    color: $white;
    line-height: 1.4em;
    white-space: normal;

    .jw-collapsible-text-content::after {
        @include background-image(linear-gradient(transparent, rgba($meta-description-bg-color, 0.8)));
    }
}

.jw-meta-feed-title,
.jw-meta-feed-title:first-child {
    margin: 2em 0;
    text-align: center;
}

//
// mediaQueries
// --------------------------------

@include mobile-only () {

    .jw-meta-description {
        padding: 1.5em 20px;
    }
}
