//
// jwPlayer
// --------------------------------

.jwplayer.jw-reset {

    .jw-title {
        display: none;
    }

    .jw-dock {
        margin: 30px;

        pointer-events: none;

        .jw-dock-button {
            pointer-events: all;
        }
    }

    &.jw-state-idle,
    &.jw-state-paused {

        .jw-display-icon-container {
            display: table;

            border: 4px solid $white;
            background: transparent;
            font-size: 20px;
        }

        .jw-display-icon-container > .jw-icon {
            padding-left: 4px;

            color: $radical-red;
            font-size: 1.7em;
        }
    }

    .jw-overlays {

        .jw-countdown {
            position: absolute;
            top: 40px;
            right: 0;
            bottom: auto !important;
            padding: 10px;

            background: $black-lighter;
            color: $white;
            font-size: 18px;
            box-shadow: 0 0 20px rgba($white, .3);
        }
    }
}

// Hide native chromecast button in video
// http://stackoverflow.com/a/29780590
video::-internal-media-controls-overlay-cast-button {
    display: none;
}

//
// mediaQueries
// --------------------------------

@include mobile-only () {

    .jwplayer.jw-reset .jw-overlays .jw-countdown {
        top: 21px;
        font-size: 12px;
    }
}

@include tablet-and-larger () {

    .jwplayer.jw-reset.jw-flag-aspect-mode {
        height: 100% !important;
    }
}
