//
// jwPlayer
// --------------------------------

.jwplayer.jw-reset {

    .jw-title {
        display: none;
    }

    .jw-dock {
        margin: 30px;

        pointer-events: none;

        .jw-dock-button {
            pointer-events: all;
        }
    }

    &.jw-state-idle,
    &.jw-state-paused {

        .jw-display-icon-container {
            display: table;

            border: 4px solid $white;
            background: transparent;
        }

        .jw-display-icon-container > .jw-icon {
            padding-left: 4px;

            color: $primary-color;
            font-size: 1.7em;
        }
    }
}

// scss-lint:disable PseudoElement
// Hide native chromecast button in video
// http://stackoverflow.com/a/29780590
video::-internal-media-controls-overlay-cast-button {
    display: none;
}
// scss-lint:enable PseudoElement

//
// mediaQueries
// --------------------------------

@include tablet-and-larger () {

    .jwplayer.jw-reset.jw-flag-aspect-mode {
        height: 100% !important;
    }
}
