
//
// jwShare
// --------------------------------

.jw-share.popover {
    width: 240px;
    height: 175px;
    padding: 35px 35px 10px;

    .jw-share-buttons {
        margin-bottom: 15px;
        text-align: center;
    }
}

.jw-hybrid-app .jw-share.popover {
    height: 110px;

    .jw-share-link {
        display: none;
    }
}
