//
// jwVideoContainer
// --------------------------------

.jw-video-container {
    position: relative;
    width: 100vw;

    background-color: $shark;
}

//
// mediaQueries
// --------------------------------

@include tablet-and-larger () {

    .jw-video-container {
        min-height: 50vh;
    }

    .jw-video-container > .jw-video-container-aspect {
        @include cover();
    }
}
