
//
// jwContainer
// --------------------------------

.jw-container {
    position: relative;
    width: 100%;
    height: 100%;
}

//
// jwView
// --------------------------------

.jw-view {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    z-index: $view-z-index;

    overflow-y: scroll;

    // smooth scroll
    -webkit-overflow-scrolling: touch;

    &.ng-enter {
        @include single-transition(opacity, 0.3s, ease, 0.3s);
        opacity: 0;
        z-index: $view-z-index + 10;
    }

    &.ng-enter-active {
        opacity: 1;
    }


    &.ng-leave {
        @include single-transition(opacity, 0.3s, ease, 0s);
        opacity: 1;
    }

    &.ng-leave-active {
        opacity: 0;
    }
}
