
//
// jwModal
// --------------------------------

.jw-modal {
    z-index: $view-z-index + 100;

    background-size: cover;

    .jw-modal-container {
        @include transform(translate(-50%, -50%));
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80%;
    }

    .jw-modal-image {
        margin-bottom: 10px;
        text-align: center;

        > img {
            max-width: 100%;
        }
    }

    .jw-modal-message {
        padding: 10px 20px;

        font-size: 1.75rem;
        font-weight: 300;
        line-height: normal;
        text-align: center;

        &-title {
            padding-bottom: 0;

            font-size: 2.5rem;
            font-weight: 400;
        }

        &-small {
            padding-top: 0;

            font-size: 1rem;
            font-weight: 400;
        }
    }

    .jw-modal-row {
        margin: rem(50px);
        text-align: center;
    }
}

@include mobile-only () {
    .jw-modal .jw-modal-message-title {
        font-size: 1.75rem;
    }
}
