//
// jwSearchBar
// --------------------------------

$align-margin: 10px;
$align-height: $search-height - ($align-margin * 2);
$input-height: 38px;
$input-cap-width: 35px;
$ivs-toggle-width: 200px;

.jw-search {

    .jw-search-container {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;

        overflow: hidden;
        z-index: 1;

        &.ng-hide-add,
        &.ng-hide-remove {
            @include transition(width .5s ease);

            .jw-search-align {
                @include transition(border .3s ease 0.2s);
            }
        }

        &.ng-hide-remove {

            &:not(.ng-hide-remove-active) {
                width: 47px;
                border-color: transparent;

                .jw-button-close-search {
                    opacity: 0;
                }
            }

            .jw-search-captions-toggle {
                @include transition(opacity .3s ease 0.2s);
                opacity: 0;
            }
        }

        &.ng-hide-remove-active {
            .jw-search-captions-toggle {
                opacity: 1;
            }
        }

        &.ng-hide-add {
            display: block !important;

            &.ng-hide-add-active {
                width: 47px;

                .jw-button-close-search {
                    opacity: 0;
                }
            }

            .jw-search-align {
                @include transition-delay(0s);
                border-color: transparent;
            }

            .jw-button:last-child {
                display: none;
            }

            .jw-search-captions-toggle {
                @include transition(opacity .3s ease 0s);
                opacity: 1;
            }
        }

        &.ng-hide-add-active {
            .jw-search-captions-toggle {
                opacity: 0;
            }
        }

        .jw-search-align {
            position: relative;
            height: $align-height;
            margin: 10px;
        }

        .jw-search-input {
            display: inline-block;
            position: absolute;
            top: 0;
            left: $input-cap-width;
            width: calc(100% - #{$input-cap-width * 2});
            height: $input-height;
            margin: (($align-height - $input-height) / 2) 0;

            background: transparent;
            font-size: rem(16px);
        }

        .jw-search-captions-toggle {
            position: absolute;
            top: 0;
            right: 5px + 16px;
            padding: 15px 10px;
            white-space: nowrap;
        }

        .jw-search-captions-toggle-label {
            font-size: rem(14px);
            line-height: rem(22px);
        }

        .jw-search-icon {
            position: absolute;
            left: 0;
            padding: 15px 5px;

            font-size: rem(22px);
        }

        .jw-button-close-search {
            @include transition(opacity .2s ease .1s);
            position: absolute;
            right: 0;
            padding: 15px 5px;

            text-align: right;

            .jwy-icon {
                font-size: 1rem;
            }
        }
    }
}

//
// mediaQueries
// --------------------------------

@include tablet-and-larger () {

    .jw-search {

        &.jw-search-flag-ivs {
            .jw-search-input {
                width: calc(100% - #{($input-cap-width * 2) + $ivs-toggle-width});
            }
        }
    }
}

@include mobile-only () {

    .jw-search {

        .jw-search-container {

            .jw-search-align {
                height: 38px;
                margin: 2px 10px;
            }

            .jw-search-captions-toggle {
                display: none;
            }

            .jw-search-icon {
                padding: 8px 5px;
            }

            .jw-button-close-search {
                padding: 8px 5px;
            }

            .jw-search-input {
                margin: 0;
            }
        }
    }
}
