//
// jwSidebarLayout
// --------------------------------

.jw-sidebar-layout {

    &-flag-opened-add-active,
    &-flag-opened-remove-active {
        .jw-sidebar {
            visibility: visible !important;
        }
    }

    &-flag-opened-add,
    &-flag-opened-remove {
        @include single-transition(all, 0.2s, ease);
    }

    &-flag-opened {

        .jw-sidebar {
            @include transform(translateX(0%));
            visibility: visible;
        }

        .jw-sidebar-backdrop {
            display: block;
        }

        .jw-flag-touch & {

            .jw-sidebar {
                overflow-x: hidden;
                overflow-y: scroll;
            }
        }
    }
}

.jw-flag-touch.jw-flag-sidebar-opened {
    overflow: hidden;
}

//
// jwSidebarBackdrop
// --------------------------------

.jw-sidebar-backdrop {
    display: none;

    position: fixed;
    z-index: $sidebar-z-index - 1;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba($black, 0.4);
}

//
// jwSidebar
// --------------------------------

.jw-sidebar {
    @include single-transition(transform, 0.2s, cubic-bezier(0.52, 0.51, 0.2, 1));
    @include transform(translateX(-100%));

    visibility: hidden;

    position: fixed;
    z-index: $sidebar-z-index;
    top: 0;

    width: 370px;
    max-width: 100%;
    height: auto;
    max-height: 100vh;


    overflow-x: hidden;
    overflow-y: auto;

    &-content {
        padding: 0 22px 40px 46px;

        .jw-button {
            height: 32px;
            padding: 3px 0;

            font-weight: bold;
            text-align: left;

            &.active,
            &:hover {
                > .jwy-icon {
                    display: block;
                }
            }

            &.jw-button-disabled {
                font-weight: normal;
            }

            .jwy-icon {
                display: none;
                position: absolute;
                top: 5px;
                right: -2px;
                font-size: rem(20px);
            }

            .jwy-icon.jwy-icon-settings {
                right: 0;
            }
        }
    }

    &-group {
        margin-bottom: 25px;
    }

    &-row {
        @include display-flex();
        height: 32px;

        .jw-sidebar-label {
            @include flex(1 0 auto);
            @include align-self(center);
            color: inherit;
            font-weight: bold;
        }

        .jw-sidebar-action {
            @include flex(0 0 42px);
            @include align-self(center);
            margin-left: 22px;
        }
    }
}
