<div class="jw-jumbotron jw-video">
  <div class="jw-jumbotron-content">
    <jw-player settings="vm.playerSettings" on-playlist-item="vm.onPlaylistItem" on-time="vm.onTime"
        on-complete="vm.onComplete" on-first-frame="vm.onFirstFrame" on-play="vm.onPlay"></jw-player>
    <div class="jw-jumbotron-controls">
      <a href="" ng-click="vm.backButtonClickHandler()" class="jw-button jw-button-back">
        <i class="jwy-icon-double-angle-left"></i>
      </a>
    </div>
  </div>
</div>

<div class="jw-meta">
  <div class="jw-row">
    <div class="jw-meta-description">
      <div class="jw-meta-heading">
        <span class="jw-meta-title">{{ vm.item.title }}</span>
        <span class="jw-meta-duration">{{ vm.duration }}</span>
      </div>
      <div class="jw-meta-description-text">
        {{ vm.item.description }}
      </div>
    </div>
    <div class="jw-meta-actions">
      <a ng-href="{{ vm.facebookShareLink }}" target="_blank" class="jw-button jw-button-share">
        <i class="jwy-icon jwy-icon-facebook"></i>
      </a>

      <a ng-href="{{ vm.twitterShareLink }}" target="_blank" class="jw-button jw-button-share">
        <i class="jwy-icon jwy-icon-twitter"></i>
      </a>

      <div class="jw-meta-watchlist">
        <div class="jw-button jw-button-watchlist {{ vm.inWatchList ? 'is-active': '' }}" ng-click="vm.inWatchList ? vm.removeFromWatchList() : vm.addToWatchList()">
          <span>{{ vm.inWatchList ? 'Remove from' : 'Add to' }}<br> watchlist</span>
          <i class="jwy-icon jwy-icon-banner jwy-icon-stack">
            <i class="jwy-icon jwy-icon1 jwy-icon-{{ vm.inWatchList ? 'min' : 'plus' }}"></i>
            <i class="jwy-icon jwy-icon2 jwy-icon-{{ vm.inWatchList ? 'min' : 'plus' }}"></i>
          </i>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="jw-row" ng-if="vm.feed.playlist.length > 0">
  <jw-card-slider feed="vm.feed" featured="false" spacing="12" header="vm.feedTitle" visible-items="[2,2,3,4,5]"
      on-card-click="vm.onCardClickHandler"></jw-card-slider>
</div>

<jw-footer></jw-footer>