<ion-view>
  <ion-content>

    <div class="jw-video-container jw-video">
      <div class="jw-video-container-aspect">
        <jw-player settings="vm.playerSettings" on-playlist-item="vm.onPlaylistItem" on-time="vm.onTime"
            on-complete="vm.onComplete" on-first-frame="vm.onFirstFrame" on-play="vm.onPlay"></jw-player>
      </div>
    </div>

    <jw-header class="jw-header-static jw-subheader">
      <jw-header-left>
        <jw-header-back-button></jw-header-back-button>
      </jw-header-left>
      <jw-header-main>
        <jw-header-title class="left">
          {{ vm.item.title }} <span class="jw-meta-duration">{{ vm.duration }}</span>
        </jw-header-title>
      </jw-header-main>
    </jw-header>

    <div class="jw-meta-description">
      {{ vm.item.description }}
    </div>

    <div class="jw-row" ng-if="vm.feed.playlist.length > 0">
      <jw-card-slider feed="vm.feed" featured="false" spacing="12" heading="vm.feed.title"
          cols="{xs: 2, sm: 2, md: 3, lg: 4, xl: 5}" on-card-click="vm.cardClickHandler"></jw-card-slider>
    </div>

    <jw-footer></jw-footer>

  </ion-content>
</ion-view>