<span class="jw-video-details-share" jw-screen-size="desktop">
    <jw-button class="jw-button-link jw-button-default" ng-href="{{ vm.facebookShareLink }}" target="_blank">
      <i class="jwy-icon jwy-icon-facebook"></i>
    </jw-button>
    <jw-button class="jw-button-link jw-button-default" ng-href="{{ vm.twitterShareLink }}" target="_blank">
      <i class="jwy-icon jwy-icon-twitter"></i>
    </jw-button>
    <jw-button class="jw-button-link jw-button-default" ng-href="{{ vm.emailShareLink }}" target="_blank">
      <i class="jwy-icon jwy-icon-envelop"></i>
    </jw-button>
</span>
