<jw-toolbar toolbar-class="jw-toolbar-subheader">{{ vm.feed.title }}</jw-toolbar>

<div class="jw-page jw-page-flag-subheader">
  <div class="jw-page-content pth">
    <h4 class="jw-page-title" ng-if="!vm.feed.playlist.length">No videos found in this category</h4>
    <jw-card-grid
        feed="vm.feed"
        rows="10"
        cols="{xs:2, sm:2, md:3, lg:4, xl:5}"
        enable-title="false"
        enable-show-more="true"
        on-card-click="vm.cardClickHandler"
        card-class-name="jw-lazy-load"
    ></jw-card-grid>
  </div>
</div>
