<!doctype html>
<html class="no-js" ng-app="app" ng-controller="RootController as rootVm">
<head>
  <!-- <%= version %>, lib <%= libVersion %> -->
  <base href="<%= path %>">
  <meta charset="utf-8">

  <title><%= siteName %></title>
  <meta name="description" content="<%= description %>">
  <meta property="og:title" content="<%= siteName %>">
  <meta property="og:description" content="<%= description %>">
  <meta property="og:image" content="<% if (url !== '/') { %><%= url %>images/social-image.jpg<% } %>">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="canonical" href="<% if (url !== '/') { %><%= url %><% } %>">
  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body class="jw-theme-{{ ::rootVm.config.theme }}">

<ui-view></ui-view>

<div class="jw-cover jw-loading" ng-show="rootVm.appStore.loading">
  <div class="jw-loading-icon">
    <div class="jw-rotate-animation">
      <i class="jwy-icon-buffer"></i>
    </div>
  </div>
</div>

<!-- build:js(.) scripts/vendor.js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/gsap/src/uncompressed/TweenLite.js"></script>
<script src="bower_components/gsap/src/uncompressed/plugins/CSSPlugin.js"></script>
<script src="bower_components/vtt.js/vtt.js"></script>
<script src="bower_components/ionic/js/ionic.js"></script>
<script src="bower_components/ionic/js/ionic-angular.js"></script>

<script src="bower_components/jw-showcase-lib/js/polyfills.js"></script>
<script src="bower_components/jw-showcase-lib/js/jwShowcase.module.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/core.module.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/animations/expand.animation.js"></script>

<script src="bower_components/jw-showcase-lib/js/core/controllers/cardMenu.controller.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/controllers/cookies.controller.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/controllers/menu.controller.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/controllers/root.controller.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/controllers/share.controller.js"></script>

<script src="bower_components/jw-showcase-lib/js/core/components/buttonBack.component.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/components/buttonMenu.component.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/components/footer.component.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/components/header.component.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/components/headerMenu.component.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/components/search.component.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/components/toolbar.component.js"></script>

<script src="bower_components/jw-showcase-lib/js/core/directives/button.directive.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/directives/card.directive.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/directives/cardGrid.directive.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/directives/cardMenu.directive.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/directives/cardSlider.directive.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/directives/cardPoster.directive.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/directives/collapsibleText.directive.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/directives/jwPlayer.directive.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/directives/markdown.directive.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/directives/lazyLoad.directive.js"></script>

<script src="bower_components/jw-showcase-lib/js/core/filters/videoDuration.filter.js"></script>

<script src="bower_components/jw-showcase-lib/js/core/services/api.service.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/services/apiConsumer.service.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/services/appStore.service.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/services/configResolver.service.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/services/confirm.service.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/services/cookies.service.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/services/dataStore.service.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/services/feedModel.service.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/services/userSettings.service.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/services/utils.service.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/services/menu.service.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/services/player.service.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/services/seo.service.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/services/session.service.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/services/share.service.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/services/watchlist.service.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/services/watchProgress.service.js"></script>

<script src="bower_components/jw-showcase-lib/js/error/error.module.js"></script>
<script src="bower_components/jw-showcase-lib/js/error/controllers/error.controller.js"></script>

<script src="bower_components/jw-showcase-lib/js/dashboard/dashboard.module.js"></script>
<script src="bower_components/jw-showcase-lib/js/dashboard/controllers/dashboard.controller.js"></script>

<script src="bower_components/jw-showcase-lib/js/feed/feed.module.js"></script>
<script src="bower_components/jw-showcase-lib/js/feed/controllers/feed.controller.js"></script>

<script src="bower_components/jw-showcase-lib/js/search/search.module.js"></script>
<script src="bower_components/jw-showcase-lib/js/search/controllers/search.controller.js"></script>

<script src="bower_components/jw-showcase-lib/js/video/video.module.js"></script>
<script src="bower_components/jw-showcase-lib/js/video/controllers/video.controller.js"></script>
<script src="bower_components/jw-showcase-lib/js/video/components/toolbarVideo.component.js"></script>
<script src="bower_components/jw-showcase-lib/js/video/components/videoDetails.component.js"></script>
<!-- endbuild -->

<script>
  window.configLocation = './config.json';
</script>

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/templates.js"></script>
<!-- endbuild -->
</body>
</html>
