<!doctype html>
<html lang="en" ng-app="app" ng-controller="RootController as rootVm">
<head>
  <!-- <%= version %>, lib <%= libVersion %> -->
  <base href="<%= path %>">
  <meta charset="utf-8">

  <title><%= siteName %></title>
  <meta name="description" content="<%= description %>">
  <meta property="og:title" content="<%= siteName %>">
  <meta property="og:description" content="<%= description %>">
  <meta property="og:image" content="<% if (url !== '/') { %><%= url %>images/icon-256x256.png<% } %>">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link rel="icon" href="favicon.ico" type="image/x-icon"/>
  <link rel="canonical" href="<% if (url !== '/') { %><%= url %><% } %>">

  <!-- Schema.org -->
  <script type="application/ld+json" id="schema"></script>

  <!-- Safari web app -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="apple-touch-icon" href="images/icon-152x152.png">

  <% if (pwa) { %>
  <!-- Progressive Web App -->
  <meta name="theme-color" content="#fff">
  <link rel="manifest" href="manifest.json">
  <script>
      window.enablePwa = /^https/.test(window.location.href);

      if (window.enablePwa && 'serviceWorker' in navigator) {
          navigator.serviceWorker.register('sw.js').then(function (registration) {
              registration.onupdatefound = function () {
                  console.log('ServiceWorker update found, installing...');
              };
          });
      }
  </script>
  <% } %>

  <!-- build:css(.) styles/vendor.css -->
  <link rel="stylesheet" href="bower_components/add-to-homescreen/style/addtohomescreen.css">
  <!-- endbuild -->

  <!-- build:css(.tmp) styles/main.css -->
  <link rel="stylesheet" href="styles/main.css">
  <!-- endbuild -->
</head>
<body class="jw-theme-{{ ::rootVm.config.theme }} jw-flag-loading-config jw-flag-no-focus">

<noscript>
  <div>To make use of this website please make sure JavaScript is enabled.</div>
</noscript>

<jw-header ng-if="rootVm.config.options.enableHeader"></jw-header>
<ui-view></ui-view>
<jw-footer></jw-footer>

<div class="jw-cover jw-loading" ng-show="rootVm.appStore.loading">
  <div class="jw-loading-icon">
    <div class="jw-rotate-animation">
      <i class="jwy-icon jwy-icon-buffer"></i>
    </div>
  </div>
</div>

<div class="jw-offline-message">
  You appear to be offline. <a ng-click="rootVm.reconnect()">Retry</a>
</div>

<!-- build:js(.) scripts/vendor.1.js -->
<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/firebase/firebase.js"></script>
<!-- endbuild -->

<!-- build:js(.) scripts/vendor.2.js -->
<script src="bower_components/angularfire/dist/angularfire.min.js"></script>
<script src="bower_components/angular-aria/angular-aria.js"></script>
<script src="bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="bower_components/angular-touch/angular-touch.js"></script>
<script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
<script src="bower_components/gsap/src/uncompressed/TweenLite.js"></script>
<script src="bower_components/gsap/src/uncompressed/plugins/CSSPlugin.js"></script>
<script src="bower_components/ua-parser-js/src/ua-parser.js"></script>
<script src="bower_components/add-to-homescreen/src/addtohomescreen.js"></script>
<script src="bower_components/iscroll/build/iscroll.js"></script>
<!-- endbuild -->

<!-- build:js(.) scripts/application.js -->
<script src="bower_components/jw-showcase-lib/js/polyfills.js"></script>
<script src="bower_components/jw-showcase-lib/js/vtt.js"></script>
<script src="bower_components/jw-showcase-lib/js/jwShowcase.module.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/core.module.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/animations/expand.animation.js"></script>

<script src="bower_components/jw-showcase-lib/js/core/controllers/cardMenu.controller.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/controllers/cookies.controller.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/controllers/confirm.controller.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/controllers/root.controller.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/controllers/share.controller.js"></script>

<script src="bower_components/jw-showcase-lib/js/core/components/buttonBack.component.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/components/buttonMenu.component.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/components/userBadge.component.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/components/footer.component.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/components/header.component.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/components/headerMenu.component.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/components/rail.component.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/components/search.component.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/components/sidebar.component.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/components/sidebarLayout.component.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/components/toolbar.component.js"></script>

<script src="bower_components/jw-showcase-lib/js/core/directives/button.directive.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/directives/card.directive.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/directives/cardGrid.directive.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/directives/cardMenu.directive.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/directives/cardSlider.directive.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/directives/click.directive.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/directives/cardPoster.directive.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/directives/collapsibleText.directive.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/directives/markdown.directive.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/directives/scroll.directive.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/directives/lazyLoad.directive.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/directives/player.directive.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/directives/toggle.directive.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/directives/view.directive.js"></script>

<script src="bower_components/jw-showcase-lib/js/core/filters/videoDuration.filter.js"></script>

<script src="bower_components/jw-showcase-lib/js/core/services/auth.service.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/services/api.service.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/services/apiConsumer.service.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/services/appStore.service.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/services/configResolver.service.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/services/cookies.service.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/services/dataStore.service.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/services/feedModel.service.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/services/history.service.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/services/userSettings.service.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/services/utils.service.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/services/serviceWorker.service.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/services/player.service.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/services/popup.service.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/services/platform.service.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/services/preload.service.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/services/seo.service.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/services/session.service.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/services/sidebar.service.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/services/thumbstrip.service.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/services/watchlist.service.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/services/watchProgress.service.js"></script>

<script src="bower_components/jw-showcase-lib/js/core/listeners/stateChangeStart.listener.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/listeners/stateChangeError.listener.js"></script>
<script src="bower_components/jw-showcase-lib/js/core/listeners/stateChangeSuccess.listener.js"></script>

<script src="bower_components/jw-showcase-lib/js/error/error.module.js"></script>
<script src="bower_components/jw-showcase-lib/js/error/controllers/error.controller.js"></script>

<script src="bower_components/jw-showcase-lib/js/dashboard/dashboard.module.js"></script>
<script src="bower_components/jw-showcase-lib/js/dashboard/controllers/dashboard.controller.js"></script>

<script src="bower_components/jw-showcase-lib/js/feed/feed.module.js"></script>
<script src="bower_components/jw-showcase-lib/js/feed/controllers/feed.controller.js"></script>

<script src="bower_components/jw-showcase-lib/js/search/search.module.js"></script>
<script src="bower_components/jw-showcase-lib/js/search/controllers/search.controller.js"></script>

<script src="bower_components/jw-showcase-lib/js/tag/tag.module.js"></script>
<script src="bower_components/jw-showcase-lib/js/tag/controllers/tag.controller.js"></script>

<script src="bower_components/jw-showcase-lib/js/video/video.module.js"></script>
<script src="bower_components/jw-showcase-lib/js/video/controllers/video.controller.js"></script>
<script src="bower_components/jw-showcase-lib/js/video/components/toolbarVideo.component.js"></script>
<script src="bower_components/jw-showcase-lib/js/video/components/videoDetails.component.js"></script>
<!-- endbuild -->

<script>
    window.configLocation = './config.json';
</script>

<!-- build:js({.tmp,app}) scripts/scripts.js -->
<script src="scripts/app.js"></script>
<script src="scripts/templates.js"></script>
<!-- endbuild -->
</body>
</html>
