<div>
  <jw-card-slider
      feed="feed"
      featured="true"
      aspectratio="options.aspectratio"
      cols="options.cols"
      enable-text="options.enableText"
      enable-preview="options.enablePreview"
      on-card-click="cardClickHandler"
      jw-screen-size="tablet,desktop"
  ></jw-card-slider>
  <div jw-screen-size="mobile" class="jw-card-list">
    <jw-card
        item="item"
        featured="true"
        aspectratio="options.aspectratio"
        enable-text="options.enableText"
        enable-preview="options.enablePreview"
        on-click="cardClickHandler"
        ng-repeat="item in feed.playlist"
        class="jw-lazy-load"></jw-card>
  </div>
</div>
