<ion-view>

  <jw-header class="jw-subheader">
    <jw-header-left>
      <jw-header-back-button></jw-header-back-button>
    </jw-header-left>
    <jw-header-main>
      <jw-header-title>This page doesn't exist</jw-header-title>
    </jw-header-main>
  </jw-header>

  <ion-content class="has-header has-subheader">
    <div class="jw-video-container" style="min-height: 300px; text-align: center; padding: 40px;"></div>
    <div class="jw-meta-description">
      It's possible the video or playlist has been removed or you have used an invalid link.
    </div>
    <jw-footer></jw-footer>
  </ion-content>
</ion-view>
