<div class="jw-card-menu">
  <div class="jw-card-menu-container">
    <div class="jw-card-menu-item" ng-switch="vm.inWatchlist">
      <div ng-switch-when="false">
        <jw-button class="jw-button-primary" ng-click="vm.watchlistAddClickHandler()">
          Add to watchlist
        </jw-button>
      </div>
      <div ng-switch-when="true">
        <jw-button class="jw-button-dark" ng-click="vm.watchlistRemoveClickHandler()">
          Remove from watchlist
        </jw-button>
      </div>
    </div>
    <div class="jw-card-menu-item">
      <jw-button class="jw-button-light" ng-click="vm.closeClickHandler()">
        Cancel
      </jw-button>
    </div>
  </div>
</div>