<div class="jw-card" ng-class="vm.getClassNames()" ng-click="vm.onClickHandler($event, false)">
  <div class="jw-card-aspect">
    <div class="jw-card-poster-container">
      <jw-card-poster src="vm.item.image"></jw-card-poster>
      <div class="jw-card-poster-filter"></div>
    </div>
  </div>
  <div class="jw-card-container">
    <div class="jw-card-table">
      <div class="jw-card-controls jw-card-row">
        <div class="jw-card-cell">
          <div class="jw-card-play-button jw-button jw-button-play" ng-click="vm.onClickHandler($event, true)">
            <i class="jwy-icon jwy-icon-play"></i>
          </div>
          <div class="jw-card-duration jw-card-text">{{ ::vm.duration }}</div>
        </div>
      </div>
      <div class="jw-card-info jw-card-row">
        <div class="jw-card-cell">
          <div class="jw-card-info-mask">
            <div class="jw-card-title jw-card-text" ng-if="vm.showTitle">{{ ::vm.item.title }}</div>
            <div class="jw-card-description jw-card-text" ng-if="vm.showDescription"
                jw-truncate-text="::vm.item.description"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
