<div class="jw-card-menu">
  <div class="jw-card-menu-container">
    <div class="jw-card-menu-item" ng-switch="vm.inWatchlist">
      <div class="jw-button jw-button-default" ng-click="vm.watchlistAddClickHandler()" ng-switch-when="false">
        Add to watchlist
      </div>
      <div class="jw-button jw-button-default" ng-click="vm.watchlistRemoveClickHandler()" ng-switch-when="true">
        Remove from watchlist
      </div>
    </div>
    <div class="jw-card-menu-item">
      <div class="jw-button jw-button-transparent" ng-click="vm.closeClickHandler()">
        Cancel
      </div>
    </div>
  </div>
</div>