<div class="jw-header-search-bar" ng-class="{'is-active': vm.appStore.searchBarActive}">
  <div class="jw-header-search-input-cap">
    <i class="jwy-icon jwy-icon-search"></i>
  </div>
  <input class="jw-header-search-input" type="text"
      ng-model="vm.appStore.searchPhrase" ng-model-options="{ debounce: 500 }"
      ng-keyup="vm.searchInputKeyupHandler($event)" ng-change="vm.searchInputChangeHandler()"/>
  <div class="jw-header-search-input-cap">
    <a class="jw-button jw-button-closeSearch" ng-click="vm.closeSearchButtonClickHandler()">
      <i class="jwy-icon jwy-icon-cross"></i>
    </a>
  </div>
</div>