<ion-popover-view class="jw-menu-popover">
  <jw-header class="jw-header-static">
    <jw-header-left>
      <jw-header-menu-button icon="jwy-icon-cross"></jw-header-menu-button>
    </jw-header-left>
  </jw-header>
  <ion-content class="has-header">

    <div class="jw-menu-list">

      <jw-button ui-sref="root.dashboard()" ng-click="vm.menu.hide()">
        Homepage
      </jw-button>
      <jw-button ui-sref="root.feed({feedId: 'watchlist'})" ng-click="vm.menu.hide()">
        Saved videos ({{ vm.dataStore.watchlistFeed.playlist.length }})
      </jw-button>
      <jw-button ui-sref="root.feed({feedId: 'watchProgress'})" ng-click="vm.menu.hide()">
        Continue watching ({{ vm.dataStore.watchProgressFeed.playlist.length }})
      </jw-button>

      <div class="divider"></div>

      <jw-button ng-repeat="feed in vm.feeds" ui-sref="root.feed({feedId: feed.feedid})">
        {{ feed.title }}
      </jw-button>

      <div class="divider"></div>

      <jw-button >
        All from A-Z
      </jw-button>

      <div class="divider"></div>

      <jw-button ng-click="vm.clearWatchlist()">
        Clear Saved videos
      </jw-button>
      <jw-button ng-click="vm.clearWatchProgress()">
        Clear Continue watching
      </jw-button>

      <div class="divider"></div>

      <ion-toggle ng-model="vm.userSettings.hd">
        Enable HD
      </ion-toggle>
      <ion-toggle ng-model="vm.userSettings.watchProgress">
        Enable Continue watching
      </ion-toggle>
    </div>
  </ion-content>
</ion-popover-view>