<div class="jw-side-rail">
  <div class="jw-side-rail-header">{{ vm.title }}</div>
  <ul class="jw-side-rail-items">
    <li class="jw-side-rail-item"
        ng-repeat="item in vm.items | limitTo:vm.itemsLimit"
        ng-click="vm.itemClickHandler(item)"
        tabindex="0"
        role="button"
        aria-label="{{ ::item.title }}">
      <div class="jw-side-rail-item-image">
        <img ng-src="{{ ::item.image }}" alt="{{ ::item.name }} poster image">
        <div class="jw-side-rail-item-image-overlay">
          <a class="jw-button jw-button-play">
            <i class="jwy-icon jwy-icon-play"></i>
          </a>
        </div>
      </div>
      <div class="jw-side-rail-item-info">
        <strong>{{ ::item.title }}</strong><br/>
        {{ ::item.description }}
      </div>
    </li>
  </ul>
  <div class="jw-side-rail-control" ng-if="vm.items.length > vm.itemsLimit">
    <jw-button class="jw-button-default jw-button-block" ng-click="vm.showMoreButtonClickHandler()" jw-screen-size="desktop">
      Show more
    </jw-button>
    <jw-button class="jw-button-dark" ng-click="vm.showMoreButtonClickHandler()" jw-screen-size="mobile,tablet">
      Show more
    </jw-button>
  </div>
</div>
